@import '../../../styles/skins/generalColors';
.content-section-title {
    h1{
        position: relative;
        display: inline-block;
    }
    h1:before{
        position: absolute;
        height: 5px;
        width: 30%;
        left: 0;
        bottom: 0;
        background: $rayon-color-primary;
        display: block;
        content: "";
    }
    }
    ::ng-deep .image-with-card{
        .mat-card{
            border-radius: 0px;
        }
    
    }
.img-title {
    position: relative;
    display: inline-block;
}
.img-title:before{
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: $rayon-color-primary;
    display: block;
    content: "";
}
    