<app-page-banner
[mainTitle] = "pageContent.pageBanner.mainTitle"
[title] = "pageContent.pageBanner.title"
[subTitle] = "pageContent.pageBanner.subTitle"
[image] = "pageContent.pageBanner.image" 
[textColor] = "pageContent.pageBanner.textColor"
[bgColor] = "pageContent.pageBanner.bgColor"
[gridStrokeColor] = "pageContent.pageBanner.gridStrokeColor"
[lineStrokeColor] = "pageContent.pageBanner.lineStrokeColor"
[enableQuickNav] = "pageContent.pageBanner.enableQuickNav">
</app-page-banner>

<app-content-image-text [attr.id]="pageContent.aboutRayonIntro1.id"
[sectionTitle] = "pageContent.aboutRayonIntro1.sectionTitle" 
[content] = "pageContent.aboutRayonIntro1.content"
[content2] = "pageContent.aboutRayonIntro1.content2"
[bgStylePatten] = "pageContent.aboutRayonIntro1.bgStylePatten"
[imageContent] = "pageContent.aboutRayonIntro1.imageContent"
[imagePostion] = "pageContent.aboutRayonIntro1.imagePostion"
[bgColor] = "pageContent.aboutRayonIntro1.bgColor"
[textColor] = "pageContent.aboutRayonIntro1.textColor">
</app-content-image-text>

<app-number-text [attr.id]="pageContent.aboutRayonIntro3.id"
[bgStylePatten] = "pageContent.aboutRayonIntro3.bgStylePatten"
[content] = "pageContent.aboutRayonIntro3.content"
[sectionTitle]= "pageContent.aboutRayonIntro3.sectionTitle"
[bgColor] = "pageContent.aboutRayonIntro3.bgColor"
[textColor] = "pageContent.aboutRayonIntro3.textColor">

</app-number-text>
<app-swiper-image-content 
[attr.id]="pageContent.aboutRayonIntro2.id"
[bgStylePatten] = "pageContent.aboutRayonIntro2.bgStylePatten"
[content] = "pageContent.aboutRayonIntro2.content"
[sectionTitle]= "pageContent.aboutRayonIntro2.sectionTitle"
[imageUrl] = "pageContent.aboutRayonIntro2.imageUrl"
[imagePostion] = "pageContent.aboutRayonIntro2.imagePostion"
[bgColor] = "pageContent.aboutRayonIntro2.bgColor"
[textColor] = "pageContent.aboutRayonIntro2.textColor">
</app-swiper-image-content>
<app-image-with-list [attr.id]="pageContent.aboutRayonIntro4.id"
[bgStylePatten] = "pageContent.aboutRayonIntro4.bgStylePatten"
[content] = "pageContent.aboutRayonIntro4.content"
[sectionTitle]= "pageContent.aboutRayonIntro4.sectionTitle"
[subtitle]= "pageContent.aboutRayonIntro4.subtitle"
[bgColor] = "pageContent.aboutRayonIntro4.bgColor"
[textColor] = "pageContent.aboutRayonIntro4.textColor">
</app-image-with-list>