<app-page-banner
[mainTitle] = "pageContent.pageBanner.mainTitle"
[title] = "pageContent.pageBanner.title"
[subTitle] = "pageContent.pageBanner.subTitle"
[image] = "pageContent.pageBanner.image" 
[textColor] = "pageContent.pageBanner.textColor"
[bgColor] = "pageContent.pageBanner.bgColor"
[gridStrokeColor] = "pageContent.pageBanner.gridStrokeColor"
[lineStrokeColor] = "pageContent.pageBanner.lineStrokeColor"
[enableQuickNav] = "pageContent.pageBanner.enableQuickNav">
</app-page-banner>
<!--Page Content-->
<div *ngIf="pageContent.pageNavItems.display" class="mt-3">

    <app-marketplace-tabs
          (scrollToEvent)= "scrollToView($event)"
          [selectplaceholder] = "pageContent.pageNavItems.selectPlaceholder"
          [pageParentId]="pageContent.pageBanner.pageParentId"
          [pageId] = "pageContent.pageBanner.pageId"
          [pageNavItems]= "pageContent.pageNavItems.list">
    </app-marketplace-tabs>
 </div>
 <app-content-image-text [attr.id]="pageContent.cloudIntro2.id"
[sectionTitle] = "pageContent.cloudIntro2.sectionTitle" 
[content] = "pageContent.cloudIntro2.content"
[content2] = "pageContent.cloudIntro2.content2"
[bgStylePatten] = "pageContent.cloudIntro2.bgStylePatten"
[imageContent] = "pageContent.cloudIntro2.imageContent"
[imagePostion] = "pageContent.cloudIntro2.imagePostion"
[bgColor] = "pageContent.cloudIntro2.bgColor"
[textColor] = "pageContent.cloudIntro2.textColor">
</app-content-image-text>
<app-banner-content-list [attr.id]="pageContent.cloudIntro1.id"
[sectionTitle] = "pageContent.cloudIntro1.sectionTitle" 
[subTitle] = "pageContent.cloudIntro1.subTitle" 
[content] = "pageContent.cloudIntro1.content"
[bgStylePatten] = "pageContent.cloudIntro1.bgStylePatten"
[imageUrl] = "pageContent.cloudIntro1.imageUrl"
[imagePostion] = "pageContent.cloudIntro1.imagePostion"
[bgColor] = "pageContent.cloudIntro1.bgColor"
[textColor] = "pageContent.cloudIntro1.textColor"
[gridStrokeColor]= "pageContent.cloudIntro1.gridStrokeColor"
[lineStrokeColor]= "pageContent.cloudIntro1.lineStrokeColor"
[bannerBG] = "pageContent.cloudIntro1.bannerBG">

</app-banner-content-list>

<app-left-content-image [attr.id]="pageContent.cloudIntro3.id"
[sectionTitle] = "pageContent.cloudIntro3.sectionTitle" 
[subtitle]= "pageContent.cloudIntro3.subTitle"
[content] = "pageContent.cloudIntro3.content"
[bgStylePatten] = "pageContent.cloudIntro3.bgStylePatten"
[imageUrl] = "pageContent.cloudIntro3.imageUrl"
[imagePostion] = "pageContent.cloudIntro3.imagePostion"
[bgColor] = "pageContent.cloudIntro3.bgColor"
[textColor] = "pageContent.cloudIntro3.textColor">
</app-left-content-image>