<div *ngIf="loaderFormat === 'vertical'">
  <div *ngFor="let item of loopPlaceholder">
        <span *ngIf="loaderType == 1">
          <div class="pfizer-animated-background" *ngIf="item">
            <div class="pfizer-bg-mask header-top"></div>
            <div class="pfizer-bg-mask header-left"></div>
            <div class="pfizer-bg-mask header-right"></div>
            <div class="pfizer-bg-mask header-bottom"></div>
            <div class="pfizer-bg-mask subheader-left"></div>
            <div class="pfizer-bg-mask subheader-right"></div>
            <div class="pfizer-bg-mask subheader-bottom"></div>
            <div class="pfizer-bg-mask content-top"></div>
            <div class="pfizer-bg-mask content-first-end"></div>
            <div class="pfizer-bg-mask content-second-line"></div>
            <div class="pfizer-bg-mask content-second-end"></div>
            <div class="pfizer-bg-mask content-third-line"></div>
            <div class="pfizer-bg-mask content-third-end"></div>
          </div>
        </span>
        <span *ngIf="loaderType == 2">
          <div class="pfizer-animated-background" *ngIf="item">
            <div class="pfizer-bg-mask header-top"></div>
            <div class="pfizer-bg-mask header-left"></div>
            <div class="pfizer-bg-mask header-right"></div>
            <div class="pfizer-bg-mask header-bottom"></div>
            <div class="pfizer-bg-mask subheader-left"></div>
            <div class="pfizer-bg-mask subheader-right"></div>
            <div class="pfizer-bg-mask subheader-bottom"></div>
            <div class="pfizer-bg-mask content-top"></div>
          </div>
        </span>
  </div>
</div>

<div *ngIf="loaderFormat === 'horizontal'">
  <span fxLayout= "row wrap">
      <div *ngFor="let item of loopPlaceholder" fxFlex= "100" [fxFlex.gt-sm] = "50" fxFlex.sm = "50" class= "col">
            <span *ngIf="loaderType == 1">
              <div class="pfizer-animated-background" *ngIf="item">
                <div class="pfizer-bg-mask header-top"></div>
                <div class="pfizer-bg-mask header-left"></div>
                <div class="pfizer-bg-mask header-right"></div>
                <div class="pfizer-bg-mask header-bottom"></div>
                <div class="pfizer-bg-mask subheader-left"></div>
                <div class="pfizer-bg-mask subheader-right"></div>
                <div class="pfizer-bg-mask subheader-bottom"></div>
                <div class="pfizer-bg-mask content-top"></div>
                <div class="pfizer-bg-mask content-first-end"></div>
                <div class="pfizer-bg-mask content-second-line"></div>
                <div class="pfizer-bg-mask content-second-end"></div>
                <div class="pfizer-bg-mask content-third-line"></div>
                <div class="pfizer-bg-mask content-third-end"></div>
              </div>
            </span>
            <span *ngIf="loaderType == 2">
              <div class="pfizer-animated-background" *ngIf="item">
                <div class="pfizer-bg-mask header-top"></div>
                <div class="pfizer-bg-mask header-left"></div>
                <div class="pfizer-bg-mask header-right"></div>
                <div class="pfizer-bg-mask header-bottom"></div>
                <div class="pfizer-bg-mask subheader-left"></div>
                <div class="pfizer-bg-mask subheader-right"></div>
                <div class="pfizer-bg-mask subheader-bottom"></div>
                <div class="pfizer-bg-mask content-top"></div>
              </div>
            </span>
      </div>
  </span>
  
</div>
