@import '../../../styles/skins/generalColors';

.content-banner{
    position: relative;
    overflow: hidden;
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    .content{
        border-width: 0px 0px 1px 0px;
        border-style: solid;
    }
    h1 {
        font-weight: 800;
        font-size: 40px;
    }
    h2 {
        font-weight: bold;
        font-size: 1.5em;
    }
}

.content-banner-card{
    margin-top: - 300px !important;
    z-index: 99;
}

@media only screen and (max-width: 599px) {
    .content-banner{
        h1 {
            font-weight: 800;
            font-size: 25px;
        }
        h2 {
            font-weight: bold;
            font-size: 1.5em;
        }
    }
  }