<mat-toolbar id="top-toolbar" class="top-toolbar">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span fxHide="false" fxHide.gt-sm>
        <button mat-button (click)="sidenavToggle()">
          <mat-icon>menu</mat-icon>
        </button> 
      </span>
      <div fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-sm>
        <span fxLayoutAlign="center center" class="item">
          <mat-icon [color]="''" class="mat-icon-sm">call</mat-icon>
          <span class="px-1">{{appConst.phone}}</span>
        </span>
        <span class="v-divider"></span>
        <span fxLayoutAlign="center center" class="item">
          <mat-icon [color]="''" class="mat-icon-sm">location_on</mat-icon>
          <span class="px-1">{{appConst.address}}</span>
        </span>
        <span class="v-divider"></span>
        <span fxLayoutAlign="center center" class="item">
          <mat-icon [color]="''" class="mat-icon-sm">mail</mat-icon>
          <span class="px-1">{{appConst.email}}</span>
        </span>
        
      </div>         
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="">
      <!-- <app-user-menu></app-user-menu> -->
    </div>    
  </div>           
</mat-toolbar>