<div class="get-in-touch text-bg-Black {{bgStylePatten}}">
    <div class="theme-container"> 
        <div fxLayout="row wrap" class="py-3">
            <div  fxFlex="100" fxFlex.gt-sm="25"  class="p-3">
                <img src="../../../../../assets/images/marketplace/careers/careers.jpg" alt="operator" fxShow="false" fxShow.gt-xs>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="75">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="content" ngClass.xs="p-0"> 
                    <div fxLayout="column">
                        <h1 class="rayon-bold">Join our team</h1>
                        <p class="mb-0 font_16">Innovative work. A unique, diverse workplace environment. Unrivaled expertise. Continuous learning and 
                            development opportunities. Competitive employee benefits. Core values drive everything we do. These are just some of 
                            the reasons why we’re consistently recognized as one of the best companies to work for, and why our people choose us to work at Rayonsoft.</p>
                            <p class="py-2 font_16">Unleash your talents and apply the new, now with a career that disrupts and transforms every industry in every country.</p>
                    </div>
                    <a mat-raised-button color="primary" fxShow="false" fxShow.gt-xs class="uppercase">Join us</a>
                </div> 
            </div>
        </div>
  </div>

</div>