<app-carousel
 [slides]="pageContent.carouselSection" 
 [contentOffsetToTop]="true">
 </app-carousel>
 <app-left-content-image
 [sectionTitle] = "pageContent.ourVision.sectionTitle" 
 [subtitle]= "pageContent.ourVision.subTitle"
 [content] = "pageContent.ourVision.content"
 [bgStylePatten] = "pageContent.ourVision.bgStylePatten"
 [imageUrl] = "pageContent.ourVision.imageUrl"
 [imagePostion] = "pageContent.ourVision.imagePostion"
 [bgColor] = "pageContent.ourVision.bgColor"
 [textColor] = "pageContent.ourVision.textColor">
 </app-left-content-image>
 <app-swiper-image-content 
 [bgStylePatten] = "pageContent.rayonsoftServices.bgStylePatten"
 [content] = "pageContent.rayonsoftServices.content"
 [sectionTitle]= "pageContent.rayonsoftServices.sectionTitle"
 [imageUrl] = "pageContent.rayonsoftServices.imageUrl"
 [imagePostion] = "pageContent.rayonsoftServices.imagePostion"
 [bgColor] = "pageContent.rayonsoftServices.bgColor"
 [textColor] = "pageContent.rayonsoftServices.textColor">
 </app-swiper-image-content>

 <app-icon-text
 [bgStylePatten] = "pageContent.glance.bgStylePatten"
 [content] = "pageContent.glance.content"
 [sectionTitle]= "pageContent.glance.sectionTitle"
 [subtitle]= "pageContent.glance.subtitle"
 [bgColor] = "pageContent.glance.bgColor"
 [textColor] = "pageContent.glance.textColor">
 </app-icon-text>
 <app-number-text
 [bgStylePatten] = "pageContent.howWeHelp.bgStylePatten"
 [content] = "pageContent.howWeHelp.content"
 [sectionTitle]= "pageContent.howWeHelp.sectionTitle"
 [bgColor] = "pageContent.howWeHelp.bgColor"
 [textColor] = "pageContent.howWeHelp.textColor">
 </app-number-text>
 
 <app-content-image-text
[sectionTitle] = "pageContent.coreValues.sectionTitle" 
[content] = "pageContent.coreValues.content"
[content2] = "pageContent.coreValues.content2"
[bgStylePatten] = "pageContent.coreValues.bgStylePatten"
[imageContent] = "pageContent.coreValues.imageContent"
[imagePostion] = "pageContent.coreValues.imagePostion"
[bgColor] = "pageContent.coreValues.bgColor"
[textColor] = "pageContent.coreValues.textColor">
</app-content-image-text>
